<div class="container" *ngIf="!edit">
    <div class="lands-community">
        <div class="col col-lg-6 block">
            <div class="title">Community</div>
            <div class="row" *ngIf="communities.length > 0">
                <ng-container *ngFor="let item of communities">
                    <div class="col-6 col-md-4 pr-0" *ngIf="item.status">
                        <ng-container *ngIf="!validateUrl(item.url) ; else link">
                            <div class="card mb-3">
                                <div class="flex-shrink-0 img">
                                    <img *ngIf="item.logo" src="{{ item.logo }}" alt="...">
                                </div>
                                <div class="card-body text-truncate">
                                    <h5 class="card-title text-truncate mb-1">{{ item.name }}</h5>
                                    <p class="card-text text-truncate">{{ item.url }}</p>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #link>
                            <a class="card mb-3" [href]="item.url">
                                <div class="flex-shrink-0 img">
                                    <img *ngIf="item.logo" src="{{ item.logo }}" alt="...">
                                </div>
                                <div class="card-body text-truncate">
                                    <h5 class="card-title text-truncate mb-1">{{ item.name }}</h5>
                                    <p class="card-text text-truncate">{{ item.url }}</p>
                                </div>
                            </a>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
            
            <div class="row" *ngIf="communities.length === 0">
                <div *ngFor="let i of [0,1,2]" class="col-4">
                    <div class="card mb-3">
                        <ngx-skeleton-loader count="1" appearance="circle" animation="pulse" [theme]="{'background-color': '#09101A'}"></ngx-skeleton-loader>
                        <ngx-skeleton-loader style="width: 100%;" count="2" appearance="line" animation="pulse" [theme]="{'background-color': '#112233'}"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ----------------------------- -->

<div class="container" *ngIf="edit">

    <div class="lands-community-editor">
        <div class="title">Community</div>

        <div class="list-group">
            <!-- <div class="list-group-item">
                <ngx-skeleton-loader style="width: 100%;" count="2" appearance="line" animation="pulse" [theme]="{'background-color': '#09101A'}"></ngx-skeleton-loader>
            </div> -->
            <div class="list-group-item d-flex" *ngFor="let item of communities; let i = index">
                <div class="image flex-shrink-0">
                    <img src="{{ item.logo }}" alt="">
                    <div class="upload" *ngIf="edit && item.editable" (click)="upload(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                        </svg>
                    </div>
                </div>
                <div class="infos flex-grow-1">
                    <div class="d-flex justify-content-between align-items-center mt-1 mb-3">
                        <div class="list-title d-flex flex-grow-1">

                            <div class="editor">
                                <input *ngIf="item.nameEditing" type="text" class="form-control form-control-edit" [(ngModel)]="item.name" (blur)="blurName(i)" autoFocus>

                                <span *ngIf="!item.nameEditing" class="d-inline-block text-truncate" style="max-width: calc(95%)" (click)="editName(i)" >{{ item.name }}</span>
                            
                                <button *ngIf="!item.nameEditing" class="btn-edit" (click)="editName(i)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </button>
                            </div>

                        </div>
                        <div class="custom-control custom-switch custom-switch-md">
                            <input type="checkbox" class="custom-control-input" [checked]="item.status" (change)="changeCommunityStatud($event, i)" id="communitySwitch{{i}}">
                            <label class="custom-control-label" for="communitySwitch{{i}}">Show</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="link d-flex flex-grow-1">
                            <!-- <span #links
                                contentEditable="true" 
                                [textContent]="item.link"
                                (input)="item.link = $event.target.textContent"
                                (keyup.enter)="linkChanged($event)"
                                (blur)="linkChanged($event)"
                            ></span> -->
                            <div class="editor">
                                <input *ngIf="item.urlEditing" type="text" class="form-control form-control-edit" [(ngModel)]="item.url" (blur)="blurLink(i)" autoFocus>
                                <span *ngIf="!item.urlEditing" class="d-inline-block text-truncate" style="max-width: calc(95%)" (click)="editLink(i)" >{{ item.url }}</span>
                                <button *ngIf="!item.urlEditing" class="btn-edit" (click)="editLink(i)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </button>
                            </div>
                        
                        </div>
                        <button class="btn-edit" *ngIf="item.editable" (click)="delete(i)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>

                    </div>
                    
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-secondary btn-lg py-3 px-5" (click)="add()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
                Add New Relation
            </button>
        </div>
    </div>
</div>
